* {
  margin: 0;
  padding: 0;
  font-family: "Lora";
}

header {
  background-image: url("/img/pexels-fauxels-3184430.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  height: 100%;
  background-color: rgba(245, 245, 245, 0.7);
}
nav > ul {
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
}
nav li {
  width: 100%;
  display: flex;
  font-size: 20px;
}
nav li a {
  width: 100%;
  text-align: center;
  color: black;
  text-decoration: none;
}
nav li a:hover {
  background-color: black;
  color: whitesmoke;
}
nav details > ul {
  width: 100%;
}

h1 {
  font-style: italic;
}

footer {
  background-color: grey;
  color: whitesmoke;
}

h2 {
  text-shadow: 3px 3px darkgray;
  font-weight: 600;
  padding: 10px;
  width: 100%;
  border-bottom: 3px solid black;
}

#home section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#our-goal {
  text-align: center;
}
#our-goal img {
  width: 40%;
}
#our-goal > p:first-child {
  font-size: 50px;
}

#news {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}
#news article {
  padding: 3%;
  border: 2px dashed grey;
}
#news article aside {
  display: flex;
  justify-content: end;
}

#locations article {
  display: grid;
  grid-template-columns: auto;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}
#locations img {
  width: 100%;
}

#services h4 {
  height: 100%;
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#services h4:hover {
  background-color: black;
  color: whitesmoke;
}
#services div {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
#services aside:nth-child(1) > div {
  background-image: url("/img/services/pexels-cottonbro-studio-6153354.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#services aside:nth-child(2) > div {
  background-image: url("/img/services/pexels-tara-winstead-8849295.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#services aside:nth-child(3) > div {
  background-image: url("/img/services/pexels-pixabay-60504.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#services aside:nth-child(4) > div {
  background-image: url("/img/services/pexels-fillipe-gomes-2093252.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#industries article {
  row-gap: 2vh;
}
#industries article aside {
  width: 100%;
}
#industries article aside p {
  width: 60%;
}
#industries article aside:nth-child(odd) {
  display: flex;
  justify-content: end;
}

#contact select, #contact input, #contact textarea {
  font-size: 20px;
  border: 2px solid grey;
  height: 5vh;
}

@media (min-width: 768px) {
  header {
    height: 20vh;
  }
  nav a {
    font-size: 20px;
  }
  h1 {
    font-size: 40px;
  }
  #home p {
    font-size: 20px;
  }
  #home h4 {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  nav a {
    font-size: 30px;
  }
  h1 {
    font-size: 50px;
  }
  #home p {
    font-size: 25px;
  }
  #home h4 {
    font-size: 30px;
  }
  #home #locations article {
    display: grid;
    grid-template-columns: auto auto;
  }
}/*# sourceMappingURL=styles.css.map */